/************

I'm using a CSS Reset by Meyer Web 

***************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Importing google font */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* ========================================= Global CSS ====================================== */

body {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    max-width: 80vw;
}

.logo {
    width: 8vw;
}

.nav-item{
    font-size: x-large;
}

footer{
    text-align: right;
}