/************

I'm using a CSS Reset by Meyer Web 

***************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Importing google font??? */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* ========================================= Global CSS ====================================== */
/* For skiplinks */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a{
    position: absolute;
    top: -3em;
    background-color: white;
    color:black;
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus {
    position: static;
    width: auto;
    height: auto;
}
/* == */
body {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    max-width: 80vw;
}

.logo {
    width: 8vw;
}

h2,
h3 {
    text-align: center;
}

.nav-item{
    font-size: x-large;
}

/* style "back to top" button */
.backTop{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
/* padding right and bottom 0.5em */
    padding: 0 0.5em 0.5em 0;
}

footer{
    text-align: right;
}

/* Adjusting elements for small devices Small devices (tablets, 600px and up) */
@media only screen and (min-width: 600px) {
    svg{
        margin: 2.5vw;
        height: 4.5vw;
        width: 4.5vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    svg{
        margin: 2.5vw;
        height: 4vw;
        width: 4vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    svg{
        margin: 2vw;
        height: 3vw;
        width: 3vw;
    }
}

/* SNS icons */
.bi-linkedin,
.bi-instagram,
.bi-twitter {
    text-decoration: none;
}

.bi-linkedin:hover {
    color:#0e76a8;
}

.bi-instagram:hover {
    color: #e11d74;
}

.bi-twitter:hover {
    color: #00adb5;
}

/* 
CONTACT page STYLES: 
This block of css code contains the styles
*/

form {
    font-size: x-large;
}

form label{
    color: black;

}

.comment-label{
    padding: 1vw;
    padding-right: 4vw;
}

/* Small - Large devices (small phones to laptops, 1600px and down) */
@media only screen and (max-width: 1600px) {
    iframe{
        text-align: center;
        margin: auto;
        padding: auto;
        height: 40vw;
        width: 80vw;
    }
}
